<div class="meal-form">
  <form [formGroup]="form">
    <div class="meal-form__name">
      <label>
        <h3>Meal name</h3>
        <input
          type="text"
          placeholder="e.g. English breakfast"
          formControlName="name">
      </label>
    </div>
    <div class="meal-form__food">
      <div class="meal-form__subtitle">
        <h3>Food</h3>
        <button
          type="button"
          class="meal-form__add">
          <img src="assets/img/add-white.svg" alt="">
          Add Food
        </button>
      </div>
    </div>
    <div class="meal-form__submit">
      <div>
        <button
          type="button"
          class="button"
          (click)="createMeal()">
          Create meal
        </button>
        <a
          class="button button--cancel"
          [routerLink]="['../']">
          Cancel
        </a>
      </div>
    </div>
  </form>
</div>
